PORT=1919
VITE_APP_BASEURL = http://10.251.137.121:2003/
VITE_APP_APIURL = http://10.251.137.121:2003/api
VITE_APP_STATICURL = http://10.251.137.121:2003/static
VITE_APP_APIKEY = da2c8a17-1f03-592f-5c15-9ed979fa
VITE_APP_APIREGIONAL = https://api.goapi.io/regional